body {
    background-color: lightgreen;
    padding: 2rem;
}

.galeria__titulo {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 10);
    background-color: aliceblue;
    padding: 1rem;
}

.galeria {
    background-color: wheat;
    padding: 1.5rem;
    border: 1px solid black;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
}

.galeria__pintura {
    display: block;
    margin-bottom: 2rem;
    overflow: hidden;
}

.galeria__imagen img {
    float: left;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: white;
    margin: 10px;
    width: 300px;
    height: auto;
}

.galeria__precio {
    font-size: 1.3rem;
    margin-left: 10px;
}

.galeria__texto {
    overflow: hidden;
    margin-left: 330px;
    background-color: antiquewhite;
    border: 1px solid black;
    padding: 15px;
    height: auto;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.3);
}

.galeria__nombre {
    margin-top: 0;
}

.galeria__boton {
    display: block;
    margin-top: 1rem;
}

.galeria__principal {
    background-color: lightcoral;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

@media (max-width: 768px) {
    .galeria__titulo {
        font-size: 2rem;
    }

    .galeria__pintura {
        display: block;
    }

    .galeria__imagen img {
        float: none;
        display: block;
        margin: 0 auto 1rem;
        width: 90%;
    }

    .galeria__texto {
        margin-left: 0;
        width: auto;
    }
}

